In [136]:
import pandas as pd
import numpy as np

#API Request
import requests
import json

#Regular Experssion
import re

# Filtering out the School Names

In [236]:
school_name = pd.read_csv('Data/2013_-_2018_Demographic_Snapshot_School.csv')

In [237]:
school_name = school_name.groupby('School Name').count().reset_index()[['School Name']]

In [238]:
school_name.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1834 entries, 0 to 1833
Data columns (total 1 columns):
School Name    1834 non-null object
dtypes: object(1)
memory usage: 14.4+ KB

In [239]:
school_name.head()

                                         School Name
0  47 The American Sign Language and English Seco...
1              A. Philip Randolph Campus High School
2  A.C.E. Academy for Scholars at the Geraldine F...
3                        ACORN Community High School
4                        Abraham Lincoln High School

# Setting the Urls

In [168]:
base_url = 'https://maps.googleapis.com/maps/api/place/findplacefromtext/json?'
input_operation = 'Johns Creek High School'
input_type = 'textquery'
fields = 'formatted_address'
key = my_key

In [169]:
query_url = f"{base_url}input={input_operation}&inputtype={input_type}&fields={fields}&key={key}"

In [170]:
query_url

'https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Johns Creek High School&inputtype=textquery&fields=formatted_address&key=AIzaSyC5iVuyDLlrbqyjSw-NxSEIHeqDyRjcoO0'

In [171]:
response = requests.get(query_url)

In [172]:
response

In [173]:
response.json()

{'candidates': [{'formatted_address': '5575 State Bridge Rd, Johns Creek, GA 30022, USA'}],
 'status': 'OK'}

In [174]:
address = response.json()['candidates'][0]['formatted_address']

In [175]:
x = re.findall("\d{5}", address)

['30022']

In [177]:
x

['30022']

In [178]:
# The urls are working

# Creating New Column (Zip Code)

name_of_school = []
zipcode = []
issue_school =[]
for i in school_name['School Name']:
    base_url = 'https://maps.googleapis.com/maps/api/place/findplacefromtext/json?'
    input_operation = i
    input_type = 'textquery'
    fields = 'formatted_address'
    key = 'AIzaSyC5iVuyDLlrbqyjSw-NxSEIHeqDyRjcoO0'
    
    query_url = f"{base_url}input={input_operation}&inputtype={input_type}&fields={fields}&key={key}"
    response = requests.get(query_url)
    response.json()
    
    try: 
        address = response.json()['candidates'][0]['formatted_address']
        x = re.findall("\d{5}", address)
        name_of_school.append(i)
        zipcode.append(x)
        
        print(i)
    
    
    except:
        print(f"{i} has issue with the address")
        issue_school.append(i)

# DataFrame Zipcode Manipulation

In [258]:
#school_zipcode = pd.DataFrame()

In [259]:
#school_zipcode['School'] = name_of_school
#school_zipcode['Zipcode'] = zipcode

In [269]:
#school_zipcode.to_csv('Data/school_zipcode.csv')

In [304]:
zipcode_school = pd.read_csv('Data/school_zipcode.csv')

In [305]:
zipcode_school = zipcode_school.drop(columns = ['Unnamed: 0'])

In [306]:
zipcode_school.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1617 entries, 0 to 1616
Data columns (total 2 columns):
School     1617 non-null object
Zipcode    1617 non-null object
dtypes: object(2)
memory usage: 25.3+ KB

In [307]:
modified_zipcode = []
for i in range(1617):
    redifined_zipcode = str(zipcode_school.iloc[i,1])[2:7]
    modified_zipcode.append(redifined_zipcode)

In [308]:
zipcode_school['ZipCode']=modified_zipcode
zipcode_school = zipcode_school.drop(columns = ['Zipcode'])

# Combine School and Busniess with ZipCode

In [331]:
zipcode_school.head()

                                              School ZipCode
0  47 The American Sign Language and English Seco...   10010
1              A. Philip Randolph Campus High School   10031
2                        ACORN Community High School   11238
3                 Academic Leadership Charter School   10454
4     Academy For Personal Leadership And Excellence   10468

In [332]:
schoolcount_zipcode = pd.DataFrame(zipcode_school['ZipCode'].value_counts())

In [341]:
schoolcount_zipcode = schoolcount_zipcode.rename(columns = {'ZipCode':'School_Count'})

In [363]:
schoolcount_zipcode = schoolcount_zipcode.reset_index()

In [365]:
schoolcount_zipcode = schoolcount_zipcode.rename(columns = {'index':'Zipcode'})

In [366]:
schoolcount_zipcode.head()

  Zipcode  School_Count
0   10456            38
1   11212            33
2   10457            33
3   11207            30
4   10029            29

In [355]:
operating_bussniess = pd.read_csv('Data/Legally_Operating_Businesses.csv')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [356]:
operating_bussniess.columns

Index(['DCA License Number', 'License Type', 'License Expiration Date',
       'License Status', 'License Creation Date', 'Industry', 'Business Name',
       'Business Name 2', 'Address Building', 'Address Street Name',
       'Secondary Address Street Name', 'Address City', 'Address State',
       'Address ZIP', 'Contact Phone Number', 'Address Borough',
       'Borough Code', 'Community Board', 'Council District', 'BIN', 'BBL',
       'NTA', 'Census Tract', 'Detail', 'Longitude', 'Latitude', 'Location'],
      dtype='object')

In [357]:
busniesscount_zipcode = pd.DataFrame(operating_bussniess['Address ZIP'].value_counts())

In [358]:
busniesscount_zipcode = busniesscount_zipcode.rename(columns = {'Address ZIP' : 'Bussniess_Count'})

In [359]:
busniesscount_zipcode = busniesscount_zipcode.reset_index()

In [360]:
busniesscount_zipcode = busniesscount_zipcode.rename(columns = {'index':'Zipcode'})

In [361]:
busniesscount_zipcode.head()

  Zipcode  Bussniess_Count
0   11385             2481
1   11214             2355
2   11220             2283
3   11368             2121
4   11235             2081

In [370]:
data = busniesscount_zipcode.merge(schoolcount_zipcode, on='Zipcode', how='outer')

In [371]:
data

     Zipcode  Bussniess_Count  School_Count
0      11385           2481.0          10.0
1      11214           2355.0          15.0
2      11220           2283.0           4.0
3      11368           2121.0           7.0
4      11235           2081.0          13.0
5      11218           1932.0          11.0
6      10314           1916.0          11.0
7      10036           1873.0           6.0
8      11234           1847.0          12.0
9      11223           1846.0           9.0
10     11372           1795.0           6.0
11     11207           1767.0          30.0
12     11230           1767.0           5.0
13     11377           1737.0           7.0
14     11229           1728.0           7.0
15     11226           1716.0          12.0
16     10002           1704.0          29.0
17     10467           1649.0          17.0
18     11209           1640.0           9.0
19     11208           1629.0          24.0
20     11373           1585.0          12.0
21     10001           1578.0           3.0
22     11354           1541.0           7.0
23     10458           1540.0          19.0
24     11204           1536.0          16.0
25     10019           1530.0          13.0
26     11432           1514.0          15.0
27     11419           1513.0           4.0
28     10462           1509.0          13.0
29     10003           1375.0          15.0
...      ...              ...           ...
3539   M3B 1              1.0           NaN
3540   28801              1.0           NaN
3541                      NaN           3.0
3542   25111              NaN           1.0
3543   32571              NaN           1.0
3544   43065              NaN           1.0
3545   80011              NaN           1.0
3546   83642              NaN           1.0
3547   80910              NaN           1.0
3548   80249              NaN           1.0
3549   33458              NaN           1.0
3550   72712              NaN           1.0
3551   79900              NaN           1.0
3552   14125              NaN           1.0
3553   50000              NaN           1.0
3554   14802              NaN           1.0
3555   34475              NaN           1.0
3556   15871              NaN           1.0
3557   17540              NaN           1.0
3558   98466              NaN           1.0
3559   31324              NaN           1.0
3560   21812              NaN           1.0
3561   60540              NaN           1.0
3562   29681              NaN           1.0
3563   45176              NaN           1.0
3564   84660              NaN           1.0
3565   16701              NaN           1.0
3566   02493              NaN           1.0
3567   10915              NaN           1.0
3568   90266              NaN           1.0

[3569 rows x 3 columns]