In [1]:
import pandas as pd
import numpy as np

#API Request
import requests
import json

#Regular Experssion
import re

# Filtering out the School Names

In [2]:
school_name = pd.read_csv('Data/2013_-_2018_Demographic_Snapshot_School.csv')

In [3]:
school_name = school_name.groupby('School Name').count().reset_index()[['School Name']]

In [4]:
school_name.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1834 entries, 0 to 1833
Data columns (total 1 columns):
School Name    1834 non-null object
dtypes: object(1)
memory usage: 14.4+ KB

In [239]:
school_name.head()

                                         School Name
0  47 The American Sign Language and English Seco...
1              A. Philip Randolph Campus High School
2  A.C.E. Academy for Scholars at the Geraldine F...
3                        ACORN Community High School
4                        Abraham Lincoln High School

# Setting the Urls

In [168]:
base_url = 'https://maps.googleapis.com/maps/api/place/findplacefromtext/json?'
input_operation = 'Johns Creek High School'
input_type = 'textquery'
fields = 'formatted_address'
key = my_key

In [169]:
query_url = f"{base_url}input={input_operation}&inputtype={input_type}&fields={fields}&key={key}"

In [170]:
query_url

'https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=Johns Creek High School&inputtype=textquery&fields=formatted_address&key=AIzaSyC5iVuyDLlrbqyjSw-NxSEIHeqDyRjcoO0'

In [171]:
response = requests.get(query_url)

In [172]:
response

In [173]:
response.json()

{'candidates': [{'formatted_address': '5575 State Bridge Rd, Johns Creek, GA 30022, USA'}],
 'status': 'OK'}

In [174]:
address = response.json()['candidates'][0]['formatted_address']

In [175]:
x = re.findall("\d{5}", address)

['30022']

In [177]:
x

['30022']

In [178]:
# The urls are working

# Creating New Column (Zip Code)

name_of_school = []
zipcode = []
issue_school =[]
for i in school_name['School Name']:
    base_url = 'https://maps.googleapis.com/maps/api/place/findplacefromtext/json?'
    input_operation = i
    input_type = 'textquery'
    fields = 'formatted_address'
    key = 'AIzaSyC5iVuyDLlrbqyjSw-NxSEIHeqDyRjcoO0'
    
    query_url = f"{base_url}input={input_operation}&inputtype={input_type}&fields={fields}&key={key}"
    response = requests.get(query_url)
    response.json()
    
    try: 
        address = response.json()['candidates'][0]['formatted_address']
        x = re.findall("\d{5}", address)
        name_of_school.append(i)
        zipcode.append(x)
        
        print(i)
    
    
    except:
        print(f"{i} has issue with the address")
        issue_school.append(i)

# DataFrame Zipcode Manipulation

In [258]:
#school_zipcode = pd.DataFrame()

In [259]:
#school_zipcode['School'] = name_of_school
#school_zipcode['Zipcode'] = zipcode

In [269]:
#school_zipcode.to_csv('Data/school_zipcode.csv')

In [5]:
zipcode_school = pd.read_csv('Data/school_zipcode.csv')

In [6]:
zipcode_school = zipcode_school.drop(columns = ['Unnamed: 0'])

In [7]:
zipcode_school.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1617 entries, 0 to 1616
Data columns (total 2 columns):
School     1617 non-null object
Zipcode    1617 non-null object
dtypes: object(2)
memory usage: 25.3+ KB

In [8]:
modified_zipcode = []
for i in range(1617):
    redifined_zipcode = str(zipcode_school.iloc[i,1])[2:7]
    modified_zipcode.append(redifined_zipcode)

In [9]:
zipcode_school['ZipCode']=modified_zipcode
zipcode_school = zipcode_school.drop(columns = ['Zipcode'])

# Combine School and Busniess with ZipCode

In [10]:
zipcode_school.head()

                                              School ZipCode
0  47 The American Sign Language and English Seco...   10010
1              A. Philip Randolph Campus High School   10031
2                        ACORN Community High School   11238
3                 Academic Leadership Charter School   10454
4     Academy For Personal Leadership And Excellence   10468

In [11]:
schoolcount_zipcode = pd.DataFrame(zipcode_school['ZipCode'].value_counts())

In [12]:
schoolcount_zipcode = schoolcount_zipcode.rename(columns = {'ZipCode':'School_Count'})

In [13]:
schoolcount_zipcode = schoolcount_zipcode.reset_index()

In [14]:
schoolcount_zipcode = schoolcount_zipcode.rename(columns = {'index':'Zipcode'})

In [15]:
schoolcount_zipcode.head()

  Zipcode  School_Count
0   10456            38
1   11212            33
2   10457            33
3   11207            30
4   10029            29

In [16]:
operating_bussniess = pd.read_csv('Data/Legally_Operating_Businesses.csv')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
operating_bussniess.columns

Index(['DCA License Number', 'License Type', 'License Expiration Date',
       'License Status', 'License Creation Date', 'Industry', 'Business Name',
       'Business Name 2', 'Address Building', 'Address Street Name',
       'Secondary Address Street Name', 'Address City', 'Address State',
       'Address ZIP', 'Contact Phone Number', 'Address Borough',
       'Borough Code', 'Community Board', 'Council District', 'BIN', 'BBL',
       'NTA', 'Census Tract', 'Detail', 'Longitude', 'Latitude', 'Location'],
      dtype='object')

In [18]:
busniesscount_zipcode = pd.DataFrame(operating_bussniess['Address ZIP'].value_counts())

In [19]:
busniesscount_zipcode = busniesscount_zipcode.rename(columns = {'Address ZIP' : 'Bussniess_Count'})

In [20]:
busniesscount_zipcode = busniesscount_zipcode.reset_index()

In [21]:
busniesscount_zipcode = busniesscount_zipcode.rename(columns = {'index':'Zipcode'})

In [22]:
busniesscount_zipcode.head()

  Zipcode  Bussniess_Count
0   11385             2481
1   11214             2355
2   11220             2283
3   11368             2121
4   11235             2081

In [42]:
data = busniesscount_zipcode.merge(schoolcount_zipcode, on='Zipcode', how='inner')

In [46]:
data = data.set_index('Zipcode')

In [47]:
data.head()

         Bussniess_Count  School_Count
Zipcode
11385               2481            10
11214               2355            15
11220               2283             4
11368               2121             7
11235               2081            13

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 186 entries, 11385 to 20770
Data columns (total 2 columns):
Bussniess_Count    186 non-null int64
School_Count       186 non-null int64
dtypes: int64(2)
memory usage: 4.4+ KB

In [48]:
#data.to_csv('Count_by_zipcode.csv')

In [79]:
final_data = pd.read_csv('Count_by_zipcode.csv')
final_data.head()

   Zipcode  Bussniess_Count  School_Count
0    11385             2481            10
1    11214             2355            15
2    11220             2283             4
3    11368             2121             7
4    11235             2081            13

# SQL Python Connection

In [114]:
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [115]:
username = 'root'
password = 'tatineni'
port_number = 'localhost:3306'
database_name = 'zip_code'

In [116]:
engine = create_engine('mysql://{}:{}@{}/{}'.format(username,password,port_number,database_name))
con = engine.connect()

In [117]:
data = engine.execute('Create Table If Not Exists Count_Zipcode(zipcode Int, bussniess_count Int, school_count Int)')

In [118]:
view_data = engine.execute('Select * From Count_Zipcode')

In [119]:
for record in view_data:
    print(record)

In [120]:
for index, row in final_data.iterrows():
    data = engine.execute('Insert Into Count_Zipcode(zipcode, bussniess_count, school_count) Values({},{},{})'.format(row['Zipcode'],row['Bussniess_Count'],row['School_Count']))

In [121]:
view_data = engine.execute('Select * From Count_Zipcode')
for record in view_data:
    print(record)

(11385, 2481, 10)
(11214, 2355, 15)
(11220, 2283, 4)
(11368, 2121, 7)
(11235, 2081, 13)
(11218, 1932, 11)
(10314, 1916, 11)
(10036, 1873, 6)
(11234, 1847, 12)
(11223, 1846, 9)
(11372, 1795, 6)
(11230, 1767, 5)
(11207, 1767, 30)
(11377, 1737, 7)
(11229, 1728, 7)
(11226, 1716, 12)
(10002, 1704, 29)
(10467, 1649, 17)
(11209, 1640, 9)
(11208, 1629, 24)
(11373, 1585, 12)
(10001, 1578, 3)
(11354, 1541, 7)
(10458, 1540, 19)
(11204, 1536, 16)
(10019, 1530, 13)
(11432, 1514, 15)
(11419, 1513, 4)
(10462, 1509, 13)
(10003, 1375, 15)
(11219, 1366, 6)
(10456, 1350, 38)
(11221, 1343, 26)
(10453, 1341, 20)
(11355, 1336, 8)
(10029, 1332, 29)
(11101, 1329, 14)
(11212, 1314, 33)
(10306, 1299, 4)
(11236, 1299, 22)
(10452, 1298, 13)
(11215, 1286, 21)
(10025, 1282, 9)
(11103, 1279, 2)
(10011, 1271, 14)
(10461, 1271, 13)
(11435, 1262, 5)
(11211, 1244, 13)
(10457, 1238, 33)
(10016, 1234, 3)
(11201, 1231, 22)
(11203, 1217, 22)
(10013, 1216, 4)
(10472, 1213, 12)
(11206, 1165, 25)
(10305, 1140, 4)
(10469, 1132, 11)
(11420, 1129, 6)
(11418, 1111, 4)
(10022, 1110, 2)
(11237, 1109, 12)
(11375, 1095, 10)
(11378, 1083, 3)
(10468, 1077, 16)
(11216, 1075, 13)
(10312, 1075, 4)
(10027, 1051, 25)
(11105, 1041, 3)
(10031, 1017, 7)
(10466, 1009, 15)
(11222, 1000, 6)
(11238, 984, 16)
(11106, 956, 9)
(10024, 956, 13)
(11210, 955, 6)
(11233, 938, 18)
(10463, 938, 20)
(10459, 936, 16)
(11434, 932, 8)
(10033, 931, 9)
(11213, 930, 13)
(10455, 923, 14)
(10009, 913, 8)
(10032, 913, 12)
(10451, 910, 22)
(10014, 901, 3)
(10128, 895, 9)
(10460, 893, 21)
(11357, 881, 6)
(10309, 869, 3)
(10301, 861, 8)
(11224, 854, 10)
(11232, 851, 7)
(11421, 847, 2)
(11217, 841, 8)
(10021, 840, 1)
(11358, 835, 3)
(10028, 832, 2)
(11228, 831, 6)
(11374, 830, 5)
(10023, 821, 10)
(11102, 818, 4)
(11225, 814, 12)
(10304, 811, 6)
(10010, 807, 6)
(11379, 769, 3)
(11417, 761, 5)
(10034, 754, 8)
(10035, 743, 13)
(10310, 726, 2)
(11104, 716, 3)
(11231, 686, 8)
(11416, 686, 3)
(10040, 684, 11)
(10465, 681, 6)
(10026, 669, 11)
(11205, 659, 14)
(10065, 652, 6)
(10303, 638, 2)
(10473, 632, 21)
(10302, 623, 4)
(11433, 619, 6)
(10454, 617, 25)
(11365, 613, 7)
(11361, 599, 4)
(11356, 598, 2)
(10038, 597, 8)
(11414, 572, 3)
(11413, 569, 14)
(11423, 556, 4)
(11367, 530, 7)
(11412, 529, 7)
(11369, 520, 6)
(11691, 498, 10)
(10075, 484, 2)
(10308, 480, 2)
(11364, 472, 6)
(10030, 463, 11)
(11428, 449, 3)
(10475, 438, 10)
(10474, 427, 5)
(11429, 408, 1)
(11370, 404, 2)
(10307, 394, 3)
(10039, 393, 3)
(11426, 392, 6)
(11422, 374, 3)
(11694, 372, 7)
(11366, 361, 4)
(10007, 360, 2)
(11362, 344, 3)
(11436, 327, 2)
(11415, 314, 1)
(11427, 308, 3)
(10470, 301, 2)
(10037, 286, 3)
(11001, 272, 1)
(11004, 270, 1)
(10471, 256, 1)
(10004, 247, 8)
(11411, 247, 5)
(11360, 225, 2)
(11693, 201, 1)
(11692, 188, 2)
(11757, 184, 1)
(10005, 182, 1)
(11791, 135, 1)
(11239, 121, 5)
(11363, 120, 2)
(10464, 115, 1)
(10006, 104, 2)
(10280, 71, 1)
(10044, 53, 1)
(10282, 45, 3)
(7470, 34, 1)
(11109, 31, 1)
(30092, 7, 1)
(91360, 6, 1)
(12205, 5, 1)
(2132, 2, 1)
(6482, 2, 1)
(20007, 2, 1)
(30045, 1, 1)
(10311, 1, 1)
(11451, 1, 1)
(20770, 1, 1)